<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>2mro is holiday for api class and my girl friend want go out</h1>
        <h1>we watch movie and go to park evivng we went shop</h1>
        <h1>after sometime we goto culture party</h1>
        <a herf="{% url 'allu2'  %}"><h1>RESOPNES</h1></a>
        <a herf="{% url 'allu3' %}"><h1>REAPTE</h1></a>
    </center>
    
</body>
</html>